* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 125px;
    background-color: rgb(34, 21, 150);
    color: white;
    font-family: arial;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(34, 21, 150);
    color: white;
    font-family: arial;
    text-shadow: 1px 1px 3px #706f6f,
	  	         2px 2px 3px #706f6f;
}

h1,
h2 {
    text-align: center;
    font-family: arial;
    text-shadow: 1px 1px 3px #706f6f,
	  	         2px 2px 3px #706f6f;
}                

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px #706f6f
}

ul {
    padding-left: 40px;
    font-size: 20px;
    font-family: arial;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: arial;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 3px solid rgb(83, 81, 81);
    box-shadow: 4px 4px 3px #535151;
}